# Node.JS modules
/node_modules

# package-lock.json
package-lock.json

# start.bat
start.bat

# .git folder
/.git

# .vscode folder
/.vscode

# todo file
todo

# Just tests files
/tests

# sqlite file
json.sqlite

# config.json, which contains private infos
config.json