# .env files
*.env

# Node.JS modules
/node_modules

# package-lock.json
package-lock.json

# start.bat
start.bat

# .git folder
/.git

# todo file
todo

# Just tests files
/tests

# sqlite file
json.sqlite
